body {
    font-family: sans-serif;
    background: #eee;
    font-size: small;
}

.note textarea {
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    background: #ffc;
    height: 15em;
    width: 13em;
    padding: 1em;
    padding-right: 3em;
    box-shadow: .5em .5em 0 rgba(0, 0, 0, 0.2);
}

.note {
    margin: 1em;
    padding: 1em;
    display: block;
    float: left;
}

#create, #save, #clear {
    margin: 2em;
    padding: 1em;
    right: 10px;
}

.delete {
    position: relative;
    top: -15em;
    right: -16em;
    z-index: 100;
}